.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.9);
}
.stecker {
  z-index: 11;
  width: 200px;
  height: 256px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.stecker .trenner {
  width: 100%;
  height: 1px;
  background: #F79431;
  overflow: hidden;
  margin-bottom: 5%;
}

.stecker h1 {
  font-size: 22px;
  font-family: Arial;
}

.stecker h2 {
  font-size: 12px;
  font-family: Arial;
}

.path {
  animation: blink 3s ease infinite;
}
.hide {
  display: block;
  display:none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}